@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-image: url("../img/Фон.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{

    height: 770px;

}
.header{
    position: relative;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.logo_text {
    position: relative;
    z-index: 3;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    padding-right: 704px;
    }
.logo_text:hover p{
    color:#01813F;
}
a {
    display: block;
    height: 100%;
    text-decoration: none;
    color:#FFFFFF;

}
.icon_logo{
    position: relative;
    z-index: 3;
    float: right;
    display: flex;

}
.icon_first{
    background-image: url("../img/photo1.png");
    width: 21px;
    height: 24px;
    margin-right: 27px;
}
 .icon_logo:hover .icon_first{
    background-image: url("../img/calendar-alt-regular 1 (1).png");

}
.icon_second{
    margin-right: 24px;
    background-image: url("../img/photo2.png");
    width: 23px;
    height: 23px;
}
.icon_logo:hover .icon_second{
    background-image: url("../img/envelope-open-regular 1.png");
}
.icon_third{
   margin-right: 25px;
    background-image: url("../img/photo3.png");
    width: 23px;
    height: 24px;
}
.icon_logo:hover .icon_third{
    background-image: url("../img/compass-regular 1.png");
}
.login_text{
    display: flex;
    align-items: center;
    z-index: 3;
}
.welcome_text{
    display: flex;
    padding-left: 27px;
    width: 108px;
    height: 22px;
    align-items: center;
}
a:hover{
    color:#01813F;
}

.icons{
    display: flex;
    align-items: center;
}
.sign_up_text{
    width: 68px;
    height: 14px;
}
.sign_up_text a, .welcome_text a{
    margin-left: 4px;
}

.login_text p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

}
.main_content{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    left: 50%;
    margin-left: -222px;
    margin-top: 54px;
}
.header_main_content{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    align-items: center;
}
.header_main_content::before{
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: #3CB878;
}
.header_main_content p{
    margin-right: 157px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #434343;
}
.header_main_content a{
    color:#3CB878;
    margin-right: 59px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
}

.login_link:hover{
    text-decoration: underline;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.button_fb,.button_google{
    width: 160px;
    height: 48px;

    border: none;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.button_fb{
    background: #305DB8;
    margin-left: 60px;
}
.button_google{
    background:#DF4A32;
    margin-right: 60px;
}
.button_fb:hover{
    background:#022263; ;
}
.button_google:hover{
    background: #AB1F09;
}
.fb_btn::after,.g_btn::after{
    content: url("../img/Rectangle 2.png");
}
.button_fb p, .button_google p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.border{
    position: absolute;
    display:flex;
    margin-top: 31px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.border p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #848484;
}
.border::before, .border::after{
    content: url("../img/line or.png");


}
.border::before{
    margin-right: 5px;

}
.border::after{
    margin-left: 2px;
}
.input_text{
    position: absolute;
    left: 50%;
    top: 53%;
    margin-top: 56px;
    transform: translate(-50%, -50%);

}

#name, #surname, #email, #userPassword, #userPasswordConfirm{
    border: none;
    width: 318px;
   height: 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
text-indent: 20px;

}
::placeholder{
    color:#BEBEBE;

}
 .lname, .email, .password,.confirm_password{
    margin-top: 15px;
}
input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
   outline: none;
}
.check_agree{
    margin-top: 12px;
}
.terms_link{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */
    display: inline;


color: #3CB878;
}
.terms_link:hover{
    text-decoration: underline;
}
.button_acc{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}
.button_acc p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;


    color: #FFFFFF;

}
.button_acc:hover{
    background: #01813F;
}